td {
    text-align: center;
    border: 1px solid black;
    width: 10px;
    height: 10px;
}

td {
    user-select: none;
    cursor: crosshair;
    text-align: center;
}


table {
    border-collapse: collapse;
}